    Click~=7.0
    Cython~=0.29.0
    scikit-image~=0.17.2
    numpy<1.22,>=1.16.0
    pandas~=0.24
    PyYAML~=5.1
    matplotlib~=3.3.0
    astropy==3.2.3
    astroquery==0.4.1
    apng~=0.3.4
    scipy~=1.5.4
    tensorflow~=2.2
    tensorflow-addons~=0.11
    skyfield==1.26
    sgp4==2.17
    poliastro==0.14.0
    poppy==0.9.1
    diskcache==5.0.3
    pydash~=4.9.0
    asdf==2.7.1
    pygc==1.1.0
    numba~=0.53.0
